/* Estilos globais */
body, html {
    height: 100%;
    margin: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos da navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos do arredondamento da foto */
.container {
    display: grid;
    place-items: center; /* Alinhamento ao centro em ambas as direções */
    height: 50vh;
        }
